.card {
    width: 25%;
    margin: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.card-image {
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

header {
    margin-bottom: 0.5rem;
    padding: 1rem;
}

p {
    font-size: 0.8rem;
}
